<header>
    <div class="px-3 py-2 text-bg-dark border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap" />
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a href="{{ path('app_home') }}" class="nav-link text-white">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_monitoring') }}" class="nav-link text-white">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
                            Monitoring
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_module') }}" class="nav-link text-white">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
                            Modules
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_unite') }}" class="nav-link text-white">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
                            Unités / Mesures
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>